EQUALITY CHECK:

In [21]:
NUM1=int(input("enter a number:"))
NUM2=int(input("enter a number:"))
if(NUM1==NUM2):
    print(NUM1,"and", NUM2, "number are equal")
else:
    print(NUM1 ,"and", NUM2 ,"number are not equal")

enter a number: 15
enter a number: 15

15 and 15 number are equal

EVEN OR ODD CHECK:

In [12]:
NUM=int(input("enter a number:"))
if(NUM%2==0):
    print(NUM,"IS EVEN NUMBER")
else:
    print(NUM,"IS ODD NUMBER")

enter a number: 15

15 IS ODD NUMBER

POSITIVE OR NEGATIVE CHECK:

In [15]:
NUM=int(input("enter a number:"))
if(NUM>0):
        print(NUM,"IS POSITIVE NUMBER")
else:
        print(NUM,"IS NEGATIVE NUMBER")

enter a number: 15

15 IS POSITIVE NUMBER

LEAP YEAR DETERMINATION:

In [27]:
YEAR=int(input("enter a  year:"))
if(YEAR%4==0):
    if(YEAR%100!=0):
        print(YEAR," is a leap year")
elif(YEAR%400==0):
    print(YEAR,"is a leap year")
else:
    print(YEAR," is not a leap year")

enter a  year: 2016

2016  is a leap year

VOTING ELIGIBILITY:

In [28]:
age=int(input("enter your age:"))
if(age>18):
    print("CONGRAULATION! you are eligible for casting of your vote")
else:
    print("your are not eligible for casting of your vote")

enter your age: 21

CONGRAULATION! you are eligible for casting of your vote

SIGNUM FUNCTION IMPLEMENTAION:

In [30]:
m=int(input("enter the value :"))
if(m>0):
    print("the value of m=1")
elif(m<0):
    print("the value of m = -1")
else:
    print("the value of m =0")

enter the value : -5

the value of m = -1

LARGEST BETWEEN THREE NUMBER:

In [34]:
NUM1=int(input("enter NUM1:"))
NUM2=int(input("enter NUM2:"))
NUM3=int(input("enter NUM3:"))
if(NUM1>NUM2) and (NUM1>NUM3):
    print("NUM1 is greatest among all three number")
elif(NUM2>NUM1)and (NUM2>NUM3):
    print("NUM2 is greatest among all three number")
elif(NUM3>NUM1) and (NUM3>NUM2):
    print("NUM3 is greatest among all three number")
else:
    print("ALL the number have a same value")

enter NUM1: 12
enter NUM2: 25
enter NUM3: 52

NUM3 is greatest among all three number

COORDINATE QUADRANT IDENTIFICATION:

In [43]:
x=int(input("enter the value of x:"))
y=int(input("enter the value of y:"))
if(x>0) and (y>0):
    print("the coordinate point (" ,x ,"and" ,y,")lies in 1st quadrant")
elif(x<0) and (y>0):
    print("the coordinate point (" ,x ,"and" ,y,")lies in 2nd quadrant")
elif(x<0) and (y<0):
    print("the coordinate point (" ,x ,"and" ,y,")lies in 3rd quadrant")
else:
    print("the coordinate point (" ,x ,"and" ,y,")lies in 4th quadrant")

enter the value of x: 7
enter the value of y: 9

the coordinate point ( 7 and 9 )lies in 1st quadrant

ADMISSION ELIGIBILITY CHECK:

In [44]:
marks_maths=int(input("enter maths marks"))
marks_phy=int(input("enter physics marks"))
marks_chm=int(input("enter chemistry marks"))
total=(marks_maths) +(marks_phy)+(marks_chm)
total_phy_chm=(marks_phy)+(marks_chm)
if(marks_maths>=65)and (marks_chm>=50) and (marks_phy>=55) and (total>=190) and  (total_phy_chm>=140):
    print("the candidate is eligible for admission")
else:
    print("the candidate is not eligible for admission")

enter maths marks 72
enter physics marks 55
enter chemistry marks 51

the candidate is not eligible for admission

QUADRATIC EQUATION ROOTS:

HEIGHT CATEGORIZATION:

| Height (cm)   | Category |
| ------------- | -------- |
| Less than 140 | Dwarf    |
| 140 to 159    | Short    |
| 160 to 179    | Average  |
| 180 and above | Tall     |

STUDENTS MARKS AND DIVISION CALCULATION:

In [12]:
Roll_no=int(input ("the roll no of the student"))
name=str(input ("the name of the student"))
marks_phy=int(input("enter the marks in physics"))
marks_chm=int(input("enter the marks in chm"))
marks_comp=int(input("enter the marks in computer application"))
total_marks=(marks_phy)+(marks_chm)+(marks_comp)
percentage=(total_marks)/300*100
print("total marks=",total_marks)
print("total_percentage=",percentage)
if(80<=percentage<=100):
    print("Divison: first")
else:
    print("division:second")

the roll no of the student 784
the name of the student james
enter the marks in physics 70
enter the marks in chm 80
enter the marks in computer application 90

total marks= 240
total_percentage= 80.0
Divison: first

TEMPERATURE BASED WEATHER MESSAGE:

In [13]:
temp=int(input("enter the temp in celsuics"))
if(temp<0):
    print("freezing point")
elif(0<temp<=10):
    print("very cold weather")
elif(10<temp<=20):
    print("cold weather")
elif(20<temp<=30):
    print("normal in temp")
elif(30<temp<40):
    print("its hot")
elif(temp>=40):
    print("its very hot")

enter the temp in celsuics 42

its very hot

TRIANGLE TYPE DETERMINATION:

In [15]:
first_side=int(input("enter the first side"))
second_side=int(input("enter the second side"))
third_side=int(input("enter the third second "))
if(first_side)==(second_side)==(third_side):
    print("this is an equilateral triangle")
else:
    print("this is scalene triangle")

enter the first side 50
enter the second side 50
enter the third second  60

this is scalene triangle

TRIANGLE VALDITIY BY ANGLES:

In [18]:
first_angle=int(input("enter the first side"))
second_angle=int(input("enter the second angle"))
third_angle=int(input("enter the third angle"))
total=(first_angle)+(second_angle)+(third_angle)
if(total==180):
    print("triangle is valid")
else:
    print("triangle is not valid")

enter the first side 40
enter the second angle 55
enter the third angle 65

triangle is not valid

CHARACTER TYPE CLASSIFICATION:

In [26]:
char=input("enter the character:")
if(char.isalpha()):
    print("CHAR IS A ALPHABETIC")
elif(char.isdigit()):
    print("CHAR IS A DIGIT")
else:
    print("CHAR IS A SPECIAL SYMBOL")

enter the character: H

CHAR IS A ALPHABETIC

VOWEL OR CONSONANT CHECK:

In [32]:
char=input("enter a character")
if(char=="a")or (char=="e") or (char=="i") or (char=="o") or (char=="u"):
    print("it is a vowel")
elif(char=="A")or (char=="E") or (char=="I") or (char=="O") or (char=="U"):
    print("it is a vowel")
else:
    print("it is a consonant")

enter a character k

it is a consonant

PROFIT AND LOSS CALCULATION:

In [35]:
trans1=int(input("enter the transaction you pay"))
trans2=int(input("enter the transaction you take back"))
total1=(trans2)-(trans1)
total2=(trans1)-(trans2)

if(trans2>trans1):
    print("the profit earned is ",total1)  
elif(trans1>trans2):
    print("the loss you get is ",total2)

enter the transaction you pay 500
enter the transaction you take back 700

the profit earned is  200

GRADE TO DESCRIPTION MAPPING:

In [38]:
grade=input("enter grade")
if(grade=="E"):
    print("excellent")
elif(grade=="V"):
    print("very good")
elif(grade=="G"):
    print("good")
elif(grade=="A"):
    print("average")
elif(grade=="F"):
    print("fail")
else:
    print("grade doesnt exist")

enter grade A

average

ELECRICITY BILL CALCULATION:

In [40]:
customer_id=int(input("enter customer id"))
name=input("enter customer name")
consumed=int(input("enter customer consumed "))
bill=0
if(100<=consumed<=199):
    bill=consumed*1.20
elif(200<=consumed<=400):
    bill=consumed*1.50
elif(400<=consumed<=600):
    bill=(consumed*1.80) + ((consumed*1.80)*(15/100))
else:
    bill=(consumed*2.00) + ((consumed*2.00)*(15/100))
print(customer_id)
print(name)
print(bill)

enter customer id 1001
enter customer name JAMES
enter customer consumed  800

1001
JAMES
1840.0